RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?/$1 [L]

<Files ~ "ajax.php">
	Order deny,allow
	Deny from all
</Files>

<Files ~ "table.php">
	Order deny,allow
	Deny from all
</Files>

<Files ~ "menu.php">
	Order deny,allow
	Deny from all
</Files>

<Files ~ "functions.php">
	Order deny,allow
	Deny from all
</Files>

<Files ~ "editor.php">
	Order deny,allow
	Deny from all
</Files>

<Files ~ "collector.php">
	Order deny,allow
	Deny from all
</Files>