body {
	background-color: black;
}

td {
	text-align: center;
}

.back_menu {
	position: fixed;
	z-index: 9999;
	width: 30px;
	height: 200px;
	overflow: hidden;
	left: 0px;
	top: 20px;
}

.textstyle {
	color: lightgray;
}

.editor {
	margin-left: auto;
  	margin-right: auto;
  	width: 235px;
  	color: lightgray;
  	text-align: center;
}

.editor textarea {
	background-color: lightgray;
  	height: 450px;
  	line-height: 1.2em;
  	width: 100%;
  	color: black;
}

.editor input {
	color: black;
}

.left_button {
	position: fixed;
}

.menu {
	position: fixed;
	left: 5px;
	top: 75px;
	display: none;
	background-color: rgb(211, 211, 211);
	border-collapse: separate;
	border: solid 2px rgb(128, 128, 128);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 10px;
	padding: 10px;
	width: 245px;
	text-align: center;
}

.menu div {
	display: none;
	text-align: right;
}

.menu a {
	text-decoration: none;
}

.main_table {
	-webkit-border-horizontal-spacing: 2px;
	-webkit-border-vertical-spacing: 2px;
	background-color: rgb(211, 211, 211);
	border-collapse: separate;
	border: solid 2px rgb(128, 128, 128);
	line-height: normal;
	width: 492px;
}

.status_bar {
	display: none;
	width: 492px;
	background-color: lightgray;
	height: 20px;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	color: red;
	padding-left: 10px;
  	font-weight: bold;
}

.username {
	background-color: lightgray;
	border: none;
	font-weight: bold;
	width: 65px;
}

.register {
	color: lightgray;
	width: 215px;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

.register input {
	color: black;
}

.register td {
	text-align: left;
	padding-right: 10px;
	padding-bottom: 1px;
}