td {
	text-align: center;
}

.left_button {
	position: fixed;
	z-index: 9999;
	width: 30px;
	height: 200px;
	overflow: hidden;
	left: 0px;
}

.menu {
	position: fixed;
	width: 200px;
	height: 200px;
	left: 0px;
	top: 70px;
	display: none;
}

.menu_span {
	position: fixed;
	left: 20px;
	top: 80px;
	color: black;
}

span p {
	font-size: 11;
}

.main_table {
	-webkit-border-horizontal-spacing: 2px;
	-webkit-border-vertical-spacing: 2px;
	background-color: rgb(211, 211, 211);
	border-bottom-color: rgb(128, 128, 128);
	border-bottom-width: 2px;
	border-collapse: separate;
	border-left-color: rgb(128, 128, 128);
	border-left-width: 2px;
	border-right-color: rgb(128, 128, 128);
	border-right-width: 2px;
	border-top-color: rgb(128, 128, 128);
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	display: table;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 650px;
	line-height: normal;
	text-align: start;
	white-space: normal;
	width: 492px;
}

.status_bar {
	display: none;
	position:fixed;
	width:100%;
	background-color: #565051;
	height:20px;
	bottom:20px;
	left: 0px;
}